$menuHeight: 60px;
$menuBreakpoint: 768px;
$primaryColor: #00164a;
$secondarycolor: #3dc4df;

.container{
  margin: 20px;
}
.app-header{
  width: 100%;
  background-color: $secondarycolor;
  color: $primaryColor;
  min-height: 4.5rem;
  button{
    margin: 0 16px;
  }
  .spacer {
    flex: 1 1 auto;
  }
  .menu-item{
    color: $primaryColor;

  }
  .logo{
    width: 90px;
    height: 60px;
    align-items: center;
    padding-bottom: 10px;
    @media (max-width: $menuBreakpoint) {
      display: none;
    }
  }
  .mat-toolbar{
    background-color: transparent !important;
    box-shadow: none !important;
    color: white;
  }
}
.burger {
  padding: 0 10px;
  display: none;
  cursor: pointer;
  i {
    color: #fff;
    line-height: $menuHeight;
  }
  @media (max-width: $menuBreakpoint) {
    display: block;
  }
}
.menu {
  display: flex;
  align-items: center;
  @media (max-width: $menuBreakpoint) {
    display: none;
    &.is-open {
      display: block;
      position: absolute;
      top: #{$menuHeight +1 };
      background:$primaryColor ;
      width: 90%;
      z-index: 1000;
    }
}
  .menu-item {
    margin: 10px;
    display: flex;
  }
 .mat-menu-content{
    background:#011649;
    color: aqua;
  }
  .mat-menu-panel.sub-menu{
    background: rgb(158, 13, 13);
    color: aqua;
}
}

