<div
    class="footer">

    <div class="text-white mb-3 mb-md-0 footer-link" onclick="window.location='https://ferkz.github.io/luisfernandomonteiro/'">
      Copyright © Coding Sales 2024. All rights reserved.
    </div>

    <div>
      <a href="#!" class="me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
