<div class="footer">
  <div class="text-white mb-3 mb-md-0 footer-link"
    onclick="window.location='https://ferkz.github.io/luisfernandomonteiro/'">
    Copyright © Coding Sales 2025. All rights reserved.
  </div>
  <div class="socials-group">
    <a href="https://www.facebook.com/hospitalsamar/?locale=pt_BR" class="socials"  target="_blank">
      <fa-icon [icon]="faFacebook">Facebook</fa-icon>
      <span class="social-name">Facebook</span>
    </a>
    <a href="https://www.instagram.com/hospitalsamar/" class="socials"  target="_blank">
      <fa-icon [icon]="faInstagram"></fa-icon>
      <span social-name>Instagram</span>
    </a>
    <a href="https://www.linkedin.com/company/hospital-samar/posts/?feedView=all"  target="_blank" class="socials">
      <fa-icon [icon]="faLinkedin"></fa-icon>
      <span social-name>Linkedin</span>
    </a>
    <a href="#!" class="socials"  target="_blank">
      <span class="social-name">Política de acesso</span>
    </a>
  </div>
</div>
