<div class="footer">
  <div class="text-white mb-3 mb-md-0 footer-link"
    onclick="window.location='https://ferkz.github.io/luisfernandomonteiro/'">
    Copyright © Coding Sales 2024. All rights reserved.
  </div>
  <div class="socials-group">
    <a href="#!" class="socials">
      <fa-icon [icon]="faFacebook">Facebook</fa-icon>
      <span class="social-name">Facebook</span>
    </a>
    <a href="#!" class="socials">
      <fa-icon [icon]="faInstagram"></fa-icon>
      <span social-name>Instagram</span>
    </a>
    <a href="#!" class="socials">
      <fa-icon [icon]="faLinkedin"></fa-icon>
      <span social-name>Linkedin</span>
    </a>
    <a href="#!" class="socials">
      <span class="social-name">Política de acesso</span>
    </a>
  </div>
</div>
