<header>
  <header class="app-header">
    <mat-toolbar>
      <div class="logo">
        <img src="../../../assets/logo branca.png" alt="logo rede samar" width="190px">
      </div>
      <li class="burger" (click)="toggleMenu()">
        <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
      </li>
      <span class="spacer"></span>
      <div class="menu" [class.is-open]="isMenuOpen">
        <button mat-button routerLink="/" class="menu-item">Inicio</button>
        <button mat-button class="menu-item" routerLink="/radiologia">Radiologia</button>
        <button mat-button class="menu-item" routerLink="/enfermagem">Enfermagem</button>
        <button mat-button class="menu-item" [matMenuTriggerFor]="compras">Sistemas Administrativos</button>
        <mat-menu #compras="matMenu" class="sub-menu">
          <button  mat-menu-item class="menu-item sub-menu" routerLink="/compras">Compras</button>
          <button  mat-menu-item class="menu-item">Outros</button>
        </mat-menu>
        <button mat-button color="primary" class="menu-item" routerLink="/laboratorio">Laboratório</button>
      </div>
      </mat-toolbar>
  </header>
</header>
