<app-system-card [systems]="[
  {name:'Servo Médico', link:'http://10.0.0.65:8080/servo/logon.jsp?sys=ATE&msgKey=', icon:'local_hospital'},
  {name: 'Servo Enfermagem', link:'http://10.0.0.65:8080/servo/logon.jsp?sys=ENF&msgKey=', icon:'local_hospital'},
  {name: 'Enfermagem Triagem', link:'http://10.0.0.65:8080/servo/logon.jsp?sys=TRI&msgKey=', icon:'local_hospital'},
  {name: 'Comunicar Evento Adverso', link:'https://docs.google.com/forms/d/e/1FAIpQLScP_geTiJmS-wDFgpBD613hgVw0NKN_wT_WU1bx6oSYqyCJ1A/viewform', icon:'edit_calendar'}
]"></app-system-card>
