$primarycolor: #00164a;
$secondarycolor: #3dc4df;

$menuBreakpoint: 768px;

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 80vh;
}
.card-principal {
  display: inline-block;
  margin: 5px;
  justify-content: center;
  border-radius: 9px;
  flex-wrap: wrap;
}
.link {
  text-decoration: none;
}

.text-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  white-space: normal;
}

.card {
  color: $primarycolor;
  font-size: 13px;
  width: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: $secondarycolor;
  border-radius: 10px;
  margin: 0.5rem 0.5rem;

  .card-title {
    margin: 0 10px;
  }

  button {
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  @media (max-width: $menuBreakpoint) {
    margin: 3px;
    width: 80px;
    font-size: 18px;
  }
}
.card-img {
  width: 50%;
  margin-right: 20px;
  margin: 1.5rem;

  @media (max-width: $menuBreakpoint) {
    width: 100%;
  }
}
